<ng-container  *ngIf="mostrar">

<div class="fixed top-[50%] left-[50%] -translate-y-1/2 -translate-x-1/2 h-[300px] bg-white p-3 div" >
  <h1>{{title}}</h1>
  <div class="divInterior">
  <form class="flex flex-col" [formGroup]="form" (ngSubmit)="submit()">
    <div *ngFor="let controlName of headers">
      <label for="{{controlName}}">{{controlName}}</label>
      <div class="flex flex-col text-black py-2">
        <select *ngIf="controlName === 'active'"  [formControlName]="controlName">
          <option [value]="0">Desactivar</option>
          <option [value]="1">Activar</option>
        </select>
        <input *ngIf="controlName !== 'active'" type="text" id="{{controlName}}" name="{{controlName}}" [formControlName]="controlName">

      </div>
    </div>
    <ng-template [ngIf]="select.length > 0">
      <label for="select">Select</label>
      <select id="select" class="text-black" name="select" [formControlName]="selectName">
        <option class="text-black" *ngFor="let option of select" [value]="option.id">{{option.name}}</option>
      </select>
    </ng-template>


    <button type="submit" [disabled]="form.invalid">Subir</button>
  </form>
</div>
<button (click)="cerrar()" class="cerrar">X</button>
</div>
</ng-container>
