<div class="div">
<div class="flex justify-center items-center h-screen div">
  <img src="https://orig00.deviantart.net/c328/f/2017/308/1/0/solaire_by_severehercules-dbsr20g.png" height="50%" width="50%" alt="">
  <div class="flex flex-col gap-3">
    <h1 class="text-5xl font-bold text-white">Dark Souls APP®</h1>
    <p class="text-white">La mejor app para los fans de Dark Souls</p>
    <div class="flex gap-3">
      <a class="button" routerLink="">Iniciar sesion</a>
      <a class="button" routerLink="/register">Registrarse</a>
    </div>
  </div>
</div>
</div>
