<div class="div">
  <div class="divInterno">
      <h1>Registro de Codigo</h1>
      <input [(ngModel)]="codigo" >

      <button (click)="submit()" type="button" class="button">Verificar Codigo</button>
      <div class="flex justify-center items-center h-screen divInterno">
        <div class="flex flex-col gap-3">
          <p class="text-white">Ornstein ordena que ingreses el codigo que llego a tu telefono!!!</p>
        </div>
        <img class="centrarImagen" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/24594a36-5c36-4bd7-b942-ae591e19bc7b/d4zb0hy-ff16a41f-c694-4a61-b796-ecfbd1f21e06.png/v1/fill/w_173,h_250,strp/chibi_ornstein_by_evildei_d4zb0hy-250t.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTMwMCIsInBhdGgiOiJcL2ZcLzI0NTk0YTM2LTVjMzYtNGJkNy1iOTQyLWFlNTkxZTE5YmM3YlwvZDR6YjBoeS1mZjE2YTQxZi1jNjk0LTRhNjEtYjc5Ni1lY2ZiZDFmMjFlMDYucG5nIiwid2lkdGgiOiI8PTkwMCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.Nz6q3b7MvVBE14bUX2hmIvEj0PIPTwfmtxVAYcx0iOM" height="40%" width="40%" alt="">
      </div>
  </div>
</div>
