
<div *ngIf="classes" class="add">
  <div class="divInterno">
    <form (ngSubmit)="onSubmit()" [formGroup]="characterForm">
      <h1>Creando Personaje</h1>
      <h2>Nombre</h2>
      <input  class="text-black" type="text" formControlName="name">
      <h2>Selecciona una Clase</h2>
    <select formControlName="class">
        <ng-container *ngFor="let class_ of classes">
          <option class="text-black" value="{{class_.id}}">{{class_.name}}</option>
        </ng-container>
      </select>
      <button type="submit">Crear persona</button>
    </form>
  </div>
  <button (click)="goBack()" class="cerrar">X</button>
</div>

