<table *ngIf="data.length" class="tabla">
  <thead>
  <th>id</th>
    <ng-container *ngFor="let header of getHeaders(data[0].attributes)">
      <th>{{header}}</th>
    </ng-container>
  <th colspan="2">actions</th>
  </thead>
  <tbody>
    <tr *ngFor="let row of data">
      <td>{{row.id}}</td>
      <ng-container *ngFor="let property of getFields(row.attributes)">
        <td>{{property}}</td>
      </ng-container>
      <td>
        <button (click)="update(row)" class="button">Actualizar </button>
        <button (click)="delete(row.actions.delete_url)" class=" button buttonElim">Borrar</button>
      </td>
    </tr>
  </tbody>
</table>


<app-form *ngIf="updateRow" method="PUT" [path]="updateRow.actions.edit_url"  [data]="updateRow.attributes"></app-form>
