<table class="tabla">
  <thead>
  <th>id</th>
    <ng-container *ngFor="let header of headers">
      <th>{{header}}</th>
    </ng-container>
  <th colspan="2">actions</th>
  </thead>
  <tbody>
    <tr *ngFor="let row of data">
      <td>{{row.id}}</td>
      <ng-container *ngFor="let property of getFields(row.model)">
        <td>{{property}}</td>
      </ng-container>
      <td>
        <button (click)="update(row)" class="button">Actualizar </button>
        <a [routerLink]="row.actions.delete_url" class="button buttonElim">Borrar</a>
      </td>
    </tr>
  </tbody>
</table>

<app-form *ngIf="updateRow" method="PUT" [url]="updateRow.actions.update_url"  [data]="updateRow.model"></app-form>
